
.single article p.ticket-description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.single article p.ticket-dates {
  margin-bottom: 2rem;
}

.single article p.ticket-creation {
  font-size: 1rem;
  font-weight: 600;
}

.ticket-list-legend {
  font-weight: 600;
  background-color: $pri_orange;
  color: $thi_grey;
  width: fit-content;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.container.listing.tickets {
  padding-top: 50px;
}

dl.ticket-detail {
  line-height: 1.2;
}
article div.ticket-detail-update {
  line-height: 1;
  font-size: 1rem;
}
