html {
  font-size: $main-font-size;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $dark;
  line-height: 1.5;
}

// headers
h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova";
  text-rendering: optimizeLegibility;
  margin-top: 52px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0;
  @include media-breakpoint-down(sm) {
    margin-top: 32px;
  }
}
h1 {
  @include x-rem(font-size, 3.8);
  @include media-breakpoint-down(md) {
    @include x-rem(font-size, 3);
  }
}
h2 {
  @include x-rem(font-size, 2.2);
  @include media-breakpoint-down(md) {
    @include x-rem(font-size, 2.3);
  }
}
h3 {
  @include x-rem(font-size, 2);
}
h4 {
  @include x-rem(font-size, 1.7);
}
h5 {
  @include x-rem(font-size, 1.5);
}
h6 {
  @include x-rem(font-size, 1.4);
}


// main paragraph
h1, h2, h3, h4 {
  & + p {
    margin-top: 8px;
  }
}

p {
  margin-top: 38px;
  margin-bottom: 0;
  font-family: "Proxima Nova";
  line-height: 1.5;
  letter-spacing: 0.3px;
}

// links
a {
  border-bottom: 1px solid $dark;
  color: $dark;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.5s ease;

  &.external {
    svg { 
      position: static; 
    }
  }
  &:hover {
    text-decoration: none;
    color: $pri_orange;
    border-bottom: 1px solid $pri_orange;
  }
}

header a {
  border-bottom: 1px solid $light;
  font-weight: 400;
  transition: all 0.5s ease;
}

a:focus, 
button:focus, 
input:focus, 
select:focus {
  outline: 2px transparent solid;
  box-shadow: 0 0 0 2px #F9F9D1, 0 0 0 4px #396196, 0 0 4px 8px #F9F9D1;
}

.vinjett {
  padding:5px 10px;
  font-weight:bold;
  color:#fff;
  position: absolute;
  top:-52px;
  background:#D3452F;
  border-radius: 0 0 3px 3px;
}